//FONT VARIABLES
$mainFont: 'Gilroy', sans-serif;
$secondaryFont: 'Work-sans', sans-serif;
$font-weight: 400;
$letter-spacing: 1px;


//COLOR SCHEME VARIABLES
//$primaryColour: #0F2027;
//$secondaryColour: #9FD5EA;
//$tertiaryColour: rgba(46, 229, 157, 0.4);

$primaryColour: #FFFFFF;
$secondaryColour: #000000;  
$tertiaryColour: #CCCCCC;

//Text Colors
$primaryText: #FFFFFF;
$secondaryText: #000000;
$tertiaryText: #CCCCCC;

//background-colors
$mainBackgroundGradient: #2C5364, #203A43, #0F2027;
$secondaryBackground: #9FD5EA;
$projectsBackground: white;

//MIXINS
//Background Linear Gradients
@mixin linearGradient ($mainBackgroundGradient) {
    background: linear-gradient(to right, $mainBackgroundGradient);
}
//Flex container centred vertically and horizantally
@mixin flexContainer ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin customButton($background) {
    width: 25vw;
    height: 2rem;
    font-family: $mainFont;
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: $secondaryColour;
    border: solid 1px $tertiaryColour;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    &:hover {
        background-color: $tertiaryColour;
        box-shadow: 0px 15px 20px $tertiaryColour;
        transform: translateY(-5px);    
    }
}

@font-face {
    font-family: 'Gilroy';
    src: url(/Fonts/Gilroy/Gilroy-FREE/Gilroy-Light.otf);
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: $mainFont;
    font-size: 16px;
    //color: $primaryText;
    color: $tertiaryText;
    letter-spacing: $letter-spacing;
    a {
        text-decoration: none;
        color: $primaryText;
    }
}