@font-face {
  font-family: 'Gilroy';
  src: url(/Fonts/Gilroy/Gilroy-FREE/Gilroy-Light.otf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  color: #CCCCCC;
  letter-spacing: 1px;
}

body a {
  text-decoration: none;
  color: #FFFFFF;
}

@use "base";
body header {
  height: 100vh;
  padding: 1em 1em;
  background: #FFFFFF;
  border-bottom: solid 2px #ccc;
  border-radius: 0 0 0 100px;
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5%;
}

body header nav h4 {
  font-size: 1.25rem;
  color: #000000;
}

body header nav h4 span {
  color: #000000;
}

body header nav .burger {
  cursor: pointer;
}

body header nav .burger div {
  height: 3px;
  width: 25px;
  margin: 4px;
  background-color: #000000;
}

body header .home-section {
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .home-section h1, body header .home-section h2, body header .home-section a {
  padding: 30px;
}

body header .home-section .contact-icons-container {
  padding: 20px;
}

body header .home-section .contact-icons-container img {
  padding: 0 20px;
}

body header .home-section .buttons-container {
  border: 20px;
  padding: 20px;
}

body header .home-section h1 {
  font-size: 9vw;
  color: #000000;
  text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
}

body header .home-section h2 {
  font-size: 5vw;
  color: #000000;
}

body header .home-section .contact-icons-container img {
  height: 3rem;
}

body header .home-section div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .home-section div:nth-child(2) button {
  width: 25vw;
  height: 2rem;
  font-family: "Gilroy", sans-serif;
  font-size: .75rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #000000;
  border: solid 1px #CCCCCC;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

body header .home-section div:nth-child(2) button:hover {
  background-color: #CCCCCC;
  -webkit-box-shadow: 0px 15px 20px #CCCCCC;
          box-shadow: 0px 15px 20px #CCCCCC;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

body .about {
  background-color: #FFFFFF;
  padding: 2% 2%;
  margin: 0 auto;
  text-align: center;
  color: #000000;
  border-bottom: solid 2px #ccc;
  border-radius: 0 0 100px 0;
}

body .about h2 {
  padding: 40px;
  font-weight: 700;
}

body .about .bio {
  width: 90%;
  margin: 0 auto;
}

body .about .bio p {
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
}

body .about .bio p:nth-child(1) {
  padding-bottom: 2em;
}

body .about ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 10%;
  margin: 0 auto;
}

body .about ul li {
  padding: 20px;
}

body .about ul li h4 {
  font-weight: 400;
  font-size: 14px;
}

body .about ul li img {
  height: 100px;
  width: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .about ul li img:hover {
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
}

body .projects-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
  color: black;
  border-bottom: solid 2px #ccc;
  border-radius: 0 0 75px 75px;
}

body .projects-section h2 {
  padding: 40px;
}

body .projects-section .project {
  width: 80%;
  padding: 5%;
  margin: 5% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

body .projects-section .project h3, body .projects-section .project p, body .projects-section .project img {
  padding: 4%;
}

body .projects-section .project img {
  height: 30vw;
}

body .projects-section .project .project-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .projects-section .project .project-buttons button {
  width: 25vw;
  height: 2rem;
  font-family: "Gilroy", sans-serif;
  font-size: .75rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #000000;
  border: solid 1px #CCCCCC;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

body .projects-section .project .project-buttons button:hover {
  background-color: #CCCCCC;
  -webkit-box-shadow: 0px 15px 20px #CCCCCC;
          box-shadow: 0px 15px 20px #CCCCCC;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

body .projects-section .project .project-buttons a {
  padding: 5%;
}

body .contact-section {
  text-align: center;
  color: #000000;
  padding: 5%;
}

body .contact-section h2, body .contact-section p {
  padding: 2%;
}

body .contact-section .contact-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .contact-section .contact-buttons a {
  padding: 20px;
}

body .contact-section .contact-buttons button {
  width: 25vw;
  height: 2rem;
  font-family: "Gilroy", sans-serif;
  font-size: .75rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #000000;
  border: solid 1px #CCCCCC;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
}

body .contact-section .contact-buttons button:hover {
  background-color: #CCCCCC;
  -webkit-box-shadow: 0px 15px 20px #CCCCCC;
          box-shadow: 0px 15px 20px #CCCCCC;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@media all and (min-width: 750px) {
  body header .home-section h1 {
    font-size: 5vw;
  }
  body header .home-section h2 {
    font-size: 2.5vw;
  }
  body header .home-section .buttons-container button {
    width: 17vw;
  }
  body header .about .skills-list {
    padding: 0 3%;
  }
  body main .about .skills-list {
    padding: 0 3%;
  }
  body main .projects-section .projects-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body main .projects-section .projects-container .project {
    width: 40%;
    padding: 2%;
    margin: 2%;
  }
  body main .projects-section .projects-container .project p {
    font-size: .75rem;
  }
  body main .projects-section .projects-container .project img {
    width: 80%;
    height: auto;
  }
  body main .projects-section .projects-container .project .project-buttons button {
    width: 100px;
  }
}

@use "base";
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: black;
  /* Black fallback color */
  background-color: black;
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  /* Display block instead of inline */
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.buttons-container button {
  width: 25vw;
  height: 2rem;
  font-family: "Gilroy", sans-serif;
  font-size: .75rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #000000;
  border: solid 1px #CCCCCC;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.buttons-container button:hover {
  background-color: #CCCCCC;
  -webkit-box-shadow: 0px 15px 20px #CCCCCC;
          box-shadow: 0px 15px 20px #CCCCCC;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
/*# sourceMappingURL=main.css.map */